<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894636443903-tmlo2d218tvdl2n057f6vq73l7a3ikbo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894636443903-tmlo2d218tvdl2n057f6vq73l7a3ikbo</string>
	<key>API_KEY</key>
	<string>AIzaSyAmaFPfcu8hCcuhllocSJCMmR-fWCUykSE</string>
	<key>GCM_SENDER_ID</key>
	<string>894636443903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.se380Student</string>
	<key>PROJECT_ID</key>
	<string>se3802023spring</string>
	<key>STORAGE_BUCKET</key>
	<string>se3802023spring.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894636443903:ios:b12b85b5f6eb05548ee4ca</string>
</dict>
</plist>